body {
}

.top-section {
  font-size: 30px;
  font-weight: bold;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding-left: 100px;
  padding-top: 10px;
  height: 60px;
}
#task {
  color: rgb(87, 156, 230);
}
.fa-solid {
  font-size: 40px;
  position: relative;
  top: 30px;
  left: 1000px;
}
.fa-circle-plus {
  /* background: #00A5EC; */
  color: #00a5ec;
  background: #ededed;
  cursor: pointer;
}
.second-container {
  width: 100%;
  height: 1000px;
  position: relative;
  background-color: #ededed;
}
.New-Task {
  position: absolute;
  top: 40px;
  left: 1050px;
  font-size: 25px;
  text-shadow: 2px;
  font-weight: lighter;
  cursor: pointer;
  text-decoration: none;
  color: #00a5ec;
}
.box1 {
  position: absolute;
  top: 180px;
  left: 100px;
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
}
.box2 {
  position: absolute;
  top: 180px;
  left: 420px;
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
}
.box3 {
  position: absolute;
  top: 180px;
  left: 740px;
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
}
.box4 {
  position: absolute;
  top: 500px;
  left: 100px;
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
}
.box5 {
  position: absolute;
  top: 500px;
  left: 420px;
  width: 300px;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
}
.box1:hover {
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 0 20px #67676729;
  box-shadow: 0 0 20px #67676729;
}
.box2:hover {
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 0 20px #67676729;
  box-shadow: 0 0 20px #67676729;
}
.box3:hover {
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 0 20px #67676729;
  box-shadow: 0 0 20px #67676729;
}
.box4:hover {
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 0 20px #67676729;
  box-shadow: 0 0 20px #67676729;
}
.box5:hover {
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 0 20px #67676729;
  box-shadow: 0 0 20px #67676729;
}
.textBox1 {
  font-size: 20px;
  color: #00a5ec;
  /* background-color: aqua; */
  margin-top: 30px;
  margin-left: 30px;
  text-decoration: none;
}
.triptoparis {
  position: relative;
  bottom: 10px;
}
.fa-square-check {
  background-color: white;
  color: #c2c2c2;
  font-size: 30px;
  position: relative;
  top: 10px;
  left: 20px;
}
.textCheck1 {
  position: relative;
  bottom: 15px;
  left: 55px;
  color: #c2c2c2;
  text-decoration: line-through;
}
#text1 {
  color: #424242;
  position: relative;
  top: 5px;
  left: 30px;
}
.fa-square {
  border: #ededed;
  background-color: white;
  color: #c2c2c2;
  font-size: 30px;
  position: relative;
  top: 10px;
  left: 20px;
}
.fa-duotone {
  font-size: 20px;
}

.page2 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(17, 17, 17, 0.622);
  /* opacity: 0.9; */
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 5; */
  /* opacity: 0.5; */
}

/* .htmlpage2{

border: 1px solid red;



} */
.contentForPage2 {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 10px;
}
/* .fa-square-xmark{
    font-size: 50px;
    background-color:red;
    color:black;
    position: relative;
        top: 100px;
        left: 200px; */

/* } */
.inputbox {
  width: 350px;
  height: 30px;
  background: #f7f7f7;
  border-radius: 6px;
  position: relative;
  top: 10px;
  left: 30px;
  border: 1px solid #ededed;
}
.text2 {
  color: #858585;
  position: absolute;
  top: 4px;
  left: 5px;
}
.addtaskPlus {
  width: 100px;
  height: 30px;
  background-color: #00a5ec;
  border: 1px solid #00a5ec;
  color: white;
  font: 10px;
  position: absolute;
  top: 140px;
  left: 230px;
  border-radius: 4px;
  text-align: center;
}
.popup {
  background-color: #f7f7f7;
  position: relative;
  top: 280px;
  left: 550px;
  width: 400px;
  height: 200px;
  border-radius: 3px;
}
.fa-xmark {
  /* border: 2px solid black; */
  /* width: 5px; */
  /* height: 20px; */
  font-size: 30px;
  position: relative;
  top: 20px;
  left: 350px;
}
.page3 {
  position: relative;
}
.singleBox {
  position: absolute;
  top: 180px;
  left: 40%;
  width: 380px;
  height: 250px;
  cursor: pointer;
  border-radius: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
}
.backtohome {
  font-size: 22px;
  position: relative;
  top: 24px;
  left: 38%;
}
.fa-arrow-left {
  position: relative;
  left: 33%;
  font-size: 30px;
}
